/**************/
/* CSS REMEDY */
/**************/
@font-face {
  font-family: "Pokemon DS";
  /* Geef het lettertype een naam */
  src: url("../fonts/pokemon-ds-font.ttf") format("opentype");
  /* Verwijs naar het lettertypebestand */
}

/* naar een idee van Jen Simmons */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  /* margin:0; */
  font-family: "Pokemon DS", sans-serif;
  cursor: url("../images/fire.png") 64 64, auto;
  /* Gebruik het lettertype op het body-element */
  /* background-image: url("../images/bg-new.jpeg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  margin:0;
}

.outer-wrapper{
  z-index: 9;
  position: relative;
  /* overflow: hidden; */
  margin: 15px;
}

body > img{
  z-index: 9;
}

#wrapper {
  background-image: url("../images/Design_charizard1_.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 24px;
    background-position: -10px -3px;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("../images/bg-new.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

body > section:nth-of-type(1) {
  width: 100%;
  max-width: 100vh;
  background-color: #e6e5e6;
  border: 5px solid #F5A165;
  border-radius: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  /* Outer shadow */
}

body > section:nth-of-type(1) {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* Inner shadow */
}

ol {
  font-size: 18px;
  list-style: none;
  padding-top: 52px;
}

body > section:nth-of-type(1) section {
  display: block;
  padding-left: 20px;
}

body > section:nth-of-type(1) section article section {
  padding-left: 0;
}

body > section:nth-of-type(1) section article section h4 {
  margin: 10px 0;
}

body > section:nth-of-type(1) section article section p {
  padding: 0 !important;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: inline-block;
}

section:nth-of-type(1) ul {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 18px;
  width: 100%;
  padding: 60px;
}

section:nth-of-type(1) ul li {
  list-style-type: none;
  scale: 1.05;
}

section:nth-of-type(1) ul li img {
  width: 100%;
  border: 3px solid transparent;
  /* Voeg een transparante rand toe om mee te beginnen */
  border-radius: 1em;
  transition: border-color 0.3s;
  /* Voeg een overgangseffect toe voor de randkleur */
}

section:nth-of-type(1) ul li img:hover,
section:nth-of-type(1) ul li img:focus-visible {
  border-color: red;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  /* Verander de randkleur naar rood bij hover */
  outline: none;
}

button:not([disabled]) {
  cursor: pointer;
}

img {
  max-width: 100%;
}

section > section > section {
  width: 90%;
  height: 65%;
  grid-template-columns: 20% 20%;
  padding: 18px;
  background-color: white;
  border-radius: 1em;
}

body > section:nth-of-type(1) section article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* section > section > section .base.hidden{
  display: none
} */

section > section > section .hidden {
  display: none !important;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings: crimson;
  /* ... */
}

p {
  font-size: 16px;
  padding-right: 120px;
}

/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color: var(--color-headings);
}

/* ... */

/* ul {
  list-style: none;
  grid-area: 1 / 2 / 4 / 4;
} */
